<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/profile" method="post" enctype="multipart/form-data">
    <input type="file" name="avatar" multiple />
    <button type="submit">Upload</button>
</form>
